{% extends 'authen/base1.html' %}
{% block title %}Tamagochi: Comfirm Your Email{% endblock %}
{% load static %}
{% block header1 %}{% endblock %}
{% block editForm %}
    <h1>&nbsp;</h1><br><br><br><br>
    <div class="row">
    <div class="col-md-3"><p>&nbsp;</p></div>
    <div class="col-md-6 w3-animate-right">
        <p >&nbsp;</p>
    <div class="w3-card-4" style="border-radius: 25px">
        <div class="w3-container">
            <p>&nbsp;</p>
        <h4>Thank you for register TAMAGOCHI :)</h4>
    </div><br>

<div class="w3-container">
  <p>Dear User:</p>
    <p>
    Aye!!! You are almost there! There is only one step to do to be our member!
        We sent an email to you. Please check that email and verify your email address. Thanks!</p>
</div><br>

<div class="w3-container">
  <h5 class="footMargin">From: Tamagochi Team49</h5><br>
    </div>
</div>
    </div>
    <div class="col-md-3">
        <h1>&nbsp;</h1>
    </div>
</div>
{% endblock %}