{% extends 'authen/base1.html' %}
{% block title %}Tamagochi: Reset Password Done{% endblock %}
{% load static %}
{% block header1 %}{% endblock %}
{% block editForm %}
    <h1>&nbsp;</h1><br><br><br><br>
    <div class="row">
    <div class="col-md-3"><p>&nbsp;</p></div>
    <div class="col-md-6 w3-animate-right">
        <p >&nbsp;</p>
    <div class="w3-card-4" style="border-radius: 25px">
        <div class="w3-container">
            <p>&nbsp;</p>
        <h4>Thanks! Please Check Your Email :)</h4>
    </div>

<div class="w3-container">
    <p>&nbsp;</p>
  <p>Dear User:</p>
    <p>We have sent you an email with a secret reset-password link. Please do not share this link with other people!</p>
    <p>After receiving that link, please reset your password as soon as possible! If you do not receive an email from us,
    please check your span folder. And make sure that you have entered the email address that you registered with. Thanks!</p>
    <p>Have a great day!</p><br>
</div>

<footer class="w3-container">
  <h5>From: Tamagochi Team49</h5>
    <p>&nbsp;</p>
</footer>
</div>
    </div>
    <div class="col-md-3">
        <h1>&nbsp;</h1>
    </div>
</div>
{% endblock %}
{% block message %}{% endblock %}