{% extends 'authen/base1.html' %}
{% block title %}Tamagochi: Reset Password Complete{% endblock %}
{% block header1 %}{% endblock %}
{% load static %}
{% block editForm %}
    <h1>&nbsp;</h1><br><br><br><br>
    <div class="row">
    <div class="col-md-3"><p>&nbsp;</p></div>
    <div class="col-md-6 w3-animate-right">
        <p >&nbsp;</p>
    <div class="w3-card-4" style="border-radius: 25px">
        <div class="w3-container">
            <p>&nbsp;</p>
        <h4>You changed your password :)</h4>
    </div>

<div class="w3-container">
    <p>&nbsp;</p>
  <p>Dear User:</p>
    <p>Your password has been successfully set. You may go ahead and <a href="{% url 'login' %}"><button class="btnPWD">sign in</button></a> now.</p>
    <p>Have a great day! Love ya~</p><br>
</div>

<footer class="w3-container">
  <h5>From: Tamagochi Team49</h5>
    <p>&nbsp;</p>
</footer>
</div>
    </div>
    <div class="col-md-3">
        <h1>&nbsp;</h1>
    </div>
</div>
{% endblock %}
{% block message %}{% endblock %}
