{% extends 'authen/base1.html' %}
{% block title %}Tamagochi: Reset Password Confirm{% endblock %}
{% load static %}
{% block header1 %}{% endblock %}
{% block editForm %}
    <h1>&nbsp;</h1><br><br><br><br>
    <div class="row">
    <div class="col-md-3"><p>&nbsp;</p></div>
    <div class="col-md-6 w3-animate-right">
        <p >&nbsp;</p>
    <div class="w3-card-4" style="border-radius: 25px">
        <div class="w3-container">
            <p>&nbsp;</p>
        <h4 class="w3-text">Set New Password</h4>
        <p>Great! Now you can set your new password :) </p><p>Please follow the instruction below and meet the requirements!</p>
        </div>
    <div class="w3-container">
        {% if validlink %}
     <form method="post">
     {% csrf_token %}
      {{ form.as_p }}
         <button type="submit" class="btnPWD">Change!</button><br>&nbsp;
    </form>
        {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used or outdated.
      Please request a new password reset.
    </p>
  {% endif %}
    </div>
</div>
    <div class="col-md-3">
        <h1>&nbsp;</h1>
    </div>
</div>
    </div>

{% endblock %}
{% block message %}{% endblock %}