{% extends 'authen/base1.html' %}
{% block title %}Tamagochi: Reset Password{% endblock %}
{% load static %}
{% block header1 %}{% endblock %}
{% block editForm %}
    <h1>&nbsp;</h1><br><br><br><br>
    <div class="row">
    <div class="col-md-3"><p>&nbsp;</p></div>
    <div class="col-md-6 w3-animate-right">
        <p >&nbsp;</p>
    <div class="w3-container w3-card-4" style="border-radius: 25px">
        <p>&nbsp;</p>
        <h2 style="font-family: Abel; size: 28px; color: black">Reset Your Password</h2>
        <p>Forget Your Old Password? </p>
        <p>Don't Worry! You can reset your password simply by email verification! </p>
        <form method="post">
    {% csrf_token %}
     <label for = "email" class="w3-text"><p>Email: </p></label>
            <input class="w3-input w3-border" name="email" id = "email"  type="text" maxlength="100"/><br>
    <button type="submit" class="btnPWD">Submit</button><br>&nbsp;
    <input type="hidden" name="next" value="{{ next }}" />
        </form>
</div>
    </div>
    <div class="col-md-3">
        <h1>&nbsp;</h1>
    </div>
</div>
{% endblock %}
{% block message %}{% endblock %}